/* line 8, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/mixins */
dropdown ul li:nth-child(1):hover {
  background: #1fcde0;
  color: white; }

/* line 8, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/mixins */
dropdown ul li:nth-child(2):hover {
  background: #0072B5;
  color: white; }

/* line 8, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/mixins */
dropdown ul li:nth-child(3):hover {
  background: #22272d;
  color: white; }

@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 15, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 19, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

/* line 25, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
body {
  margin: 0;
  padding: 0; }

/* line 28, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
section {
  background: transparent url("../../images/water.jpg") no-repeat center top;
  background-size: cover;
  height: 800px; }

/* line 34, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
h1 {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center; }

/* line 42, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
header {
  position: relative;
  background-color: rgba(236, 240, 241, 0.4);
  height: 3.9em; }

/* line 48, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
.float-right {
  float: right; }

/* line 51, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown {
  display: inline-block; }

/* line 54, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown label, dropdown ul li {
  display: block;
  width: 150px;
  padding: 20px; }

/* line 59, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown label:hover, dropdown ul li:hover {
  background: #2C3E50;
  color: white;
  cursor: pointer; }

/* line 64, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown label {
  color: #2C3E50;
  position: relative;
  z-index: 2; }

/* line 70, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown input {
  display: none; }

/* line 73, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  color: white;
  background-color: rgba(236, 240, 241, 0.4);
  opacity: 0;
  top: -20px;
  z-index: 1; }

/* line 82, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown input:checked + label {
  background: #2C3E50;
  color: white; }

/* line 87, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0; }

/* line 93, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/exercise-4/scss/components/main */
.animate {
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden
  /* Internet Explorer */ }
/*# sourceMappingURL=style.css.map */