@mixin zero {
  margin: 0;
  padding: 0;
}

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}