@mixin zero {
  margin: 0;
  padding: 0;
}

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    &:hover {
        background: nth($colors, $i);
        color: white;
    }
  }
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}