@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
  font-family: $opensans;
  box-sizing: border-box;
}
body{
	@include zero;
}

header {
  position: relative;
  background-color: $primary;
  height: 3.9em;
}

.float-right{
  float: right;
}
dropdown{
   display: inline-block;
}
dropdown label, dropdown ul li{
  display: block;
  width: 150px;
  background: $primary;
  padding: 20px;
}
dropdown label:hover, dropdown ul li:hover{
  background: $secondary;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: $secondary;
  border-left: 3px solid $secondary; 
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: $secondary;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}